footer.footer
	.footer__inner
		.footer__contacts
			h2.footer__title контакти
			a(href="tel:0443909798").footer__phone (044) 390-97-98
			.footer__social
				a(href="#").footer__link.footer__link_facebook
					+svg('facebook')
				a(href="#").footer__link.footer__link_insta
					+svg('instagram')
				a(href="#").footer__link.footer__link_telegram
					+svg('telegram')
				span.footer__copyright © 2020 Urbanist house
		a(href="#").footer__smarto SmartOrange