.row {
	@include row-flex();
}
.page__inner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 30;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}
.section-pading--top {
	padding-top: 60px;
}
