$default-font: "firsNeue",
sans-serif;
$default-font2: "firsNeue",
sans-serif;
$mc: #FFF2E4;
$mc2: #948C89;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;

